body {
    display: flex;
    flex-direction: column;
}

.FirstSection {
    
    
    padding: 50px;
    background-color: #1f2937;
}

.Header {
    
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    
    
}

.HeaderLogo {
   
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
}

.HeaderLinks {
    
    list-style: none;
    display: flex;
    margin: 0;
    gap:16px;
    font-size: 18px;
    color: #E5E7EB;
}

.FirstSectionContainer {
    
    display: flex;
    align-items: center;
    
}

.Hero {
    
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50%;
    height: 300px;
    
}

.HeroMainText {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;

}

.HeroSecondaryText {
    font-size: 18px;
    
    margin-bottom: 10px;
    color:#E5E7EB;
}

.HeroSignUp {
    
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: #3882f6;
    
    
    
}

.FirstSectionImage {
    
    margin: 0;
    width: 50%;
    height: 300px;
    
}
 img {
    width: 100%;
    height: 100%;
    
 }

 .SecondSection {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
 }

 .SecondSectionHeader {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
 }

 .ContainerPics {
    
    display: flex;
    padding: 20px;
    gap: 15px;
 }



 .InnerContainerPics {
    width: 100%;
    height: 200px;
    
 }

 .ImageWords {
    color: #1f2937;
    font-size: 20px;
 }

 .ThirdSection {
    
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #E5E7EB;
    
   
 }

 .QuoteContainer {
    
    display: flex;
    flex-direction: column;
    
    
    
    
 }

.ThirdSectionText {
    
   
    font-size: 36px;
    
    
    
}

 .QuoteOwner {
    
    
    font-size: 36px;
    
    width: 50%;
    align-self: flex-end;
    
 }

 .FourthSection {
    
    padding: 50px;
    justify-content: center;
    display: flex;
 }

 .FourthSectionContainer {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    padding: 20px;
    background-color: #3882f6;
    
 }

 .FourthSectionListText {
    list-style: none;
    
    color: white;
    
    
 }

 .FourthSectionButton {
    border: 1px solid white;
     
    padding: 5px 20px;
    border-radius: 5px;
    
    font-size: 20px;
    
    
    
    
    
    
 }

 .Footer {
    
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #1f2937;
    
    
    
 }

 .InnerFooter {
    
    color: white;

    
 }

  .HeaderDirectLinks {
    text-decoration: none;
    color: #E5E7EB;
  }

  .EmailLink {
    text-decoration: none;
    color: black;
  }

  .Surprise {
    text-decoration: none;
    color: white
    
  }
